:root {
	--texto: rgba(255, 255, 255, .7);
	--blanco: #fff;
	--input: #3A3B3C;
	--input-hover: #4b4d4e;
	--activo: #2D88FF;
	--gris-claro: #B0B3B8;
	--fondo-contenido: #242526;
	--enemigos: red;
	--arboles: #198754;
	--animales: #ffc107;
	--rocas: #ababac;
	--fondo: #18191A;
	--hover: #ffae00;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: var(--fondo);
	color: var(--texto);
}

#inicio {
	background-color: #2D88FF;
}

#mapa {
	background-color: var(--fondo);
}
.miFuente{
	font-family: 'Monaco';
}

a {
	color: var(--texto);
	text-decoration: none;
}

/* ------------------ */
/* ----- HEADER ----- */
/* ------------------ */
header {
	background: var(--fondo-contenido);
}



header .menu a:hover {
	color: var(--texto);
	background: var(--input);
	border-radius: 5px;
}

header .menu a svg {
	width: 8rem;
	height: 8rem;
}

header .menu .active {
	border-bottom: 4px solid var(--activo);
	color: var(--activo);
}

header .menu .active:hover {
	background: none;
	border-radius: 0px;
	color: var(--hover);
}

header .menu .activeRojo {
	border-bottom: 4px solid var(--activo);
	color: red;
}

header .menu .activeRojo:hover {
	background: none;
	border-radius: 0px;
	color: var(--hover);
}

header .menu .activeVerde {
	border-bottom: 4px solid var(--activo);
	color: #198754;
}

header .menu .activeVerde:hover {
	background: none;
	border-radius: 0px;
	color: var(--hover);
}

header .menu .activeAmarillo {
	border-bottom: 4px solid var(--activo);;
	color: #ffc107;
}

header .menu .activeAmarillo:hover {
	background: none;
	border-radius: 0px;
	color: var(--activo);
}

header .menu .activeGris {
	border-bottom: 4px solid var(--activo);
	color: #cc00ff;
}

header .menu .activeGris:hover {
	background: none;
	border-radius: 0px;
	color: var(--hover);
}



.table {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.tr {
	width: 100%;
}

.celda {
	width: 100px;
	height: 20px;
	border-radius: 0.5rem;
	/* margin-bottom: 10px; */
}

.calavera {
	height: 80vh;

}

.td {
	width: 20rem !important;
}