html {
    min-width: 100vm;
}

body {
    padding: 0;
    margin: 0;
    color: #ddd;
    background-color: #333;
}

.monster {
    background-color: red;
    border-radius: 1rem;
    width: 3.5rem;
}

section {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

h2 {
    color: black;
    padding:0;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}



.props {
    margin: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: black;
    border-radius: 1rem;
    height: 8rem;
}

.escudo {
    background-color: greenyellow;
    border-radius: 1rem;
}

.ataque {
    border: 1px solid aqua;
    background-color: aqua;

}

.tesoro {
    background-color: orange;
    border-radius: 1rem;
}

.icons {
    width: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.vida {
    border: 1px solid red;
    background-color: red;
    border-radius: 1rem;
}

.bloque {
    padding: 0.5rem;
}

.contenedorverti {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* no centrado */
.contenedorverti02 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedorhori {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top:0.5rem;
}

.tam30 {
    width: 30%;
}
.tam50{
    width: 40%;
}
tam25{
    width: 25%;
}
.margen05iz{
    margin-left: 3.2px;
}
.margen05de{
    margin-right: 3.2px;
}
.margenTop{
    margin-top: 0.5rem;
    
}
.margenBot{
    margin-bottom: 0.5rem;
}
.borderNe{
    border: 1px solid black;
    border-radius: 2rem;
}

