html {
    min-width: 100vm;
    background-color: #333;
}

body {

    padding: 0;
    margin: 0;
}

section {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

h2 {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

h3 {
    text-align: center;
    margin: 0;
}

button {
    margin: 0;
    padding: 16px;
    width: 100%;
}

.general {
    width: 95%;
    margin: 10px;
}

.contenedorEnemigo {
    padding: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.contenedorDatosEnemigo {
    border: 1px solid red;
    border-radius: 0.5rem;
    padding: 1rem;
}

.icons {
    border-radius: 0.5rem;
    width: 100%;
}

.contenedorVerti {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedorHori {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.btnMio {
    height: 50%;
}

.margenBotton {
    margin-bottom: 1rem;
}

.margingDe {
    margin-right: 0.25rem;
}

.marginIz {
    margin-left: 0.25rem;
}

.paddingZ {
    padding: 0;
}

.verde {
    border: 1px solid greenyellow;
    border-radius: 0.5rem;
}

.verdeOs {
    border: 1px solid #198754;
    border-radius: 0.5rem;
}

.azul {
    border: 1px solid #0d6efd;
    border-radius: 0.5rem;
}

.naranja {
    border: 1px solid orange;
    border-radius: 0.5rem;

}

.rojo {
    border: 1px solid red;
    border-radius: 0.5rem;

}

.verdeIco {
    background-color: greenyellow;
}

.azulIco {
    background-color: #0d6efd;
}

.naranjaIco {
    background-color: orange;
}

.rojoIco {
    background-color: red;
}

